body {
    background-color: gray;
}

/* Asegúrate de que la clase container ocupe el 100% de la altura y el ancho de la ventana */
.container-section-cliente {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* Estilo del formulario */
.form-section-cliene {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
}

/* Estilo de los inputs y el botón */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

/* Estilos generales */
.bodytblcliente {
    background-color: gray;
}

.content-section-tblcliente {
    width: 720px;
    margin: 0 auto;
    padding: 20px;
    max-width: 90%;
    min-width: 300px;
}

.table-section-tblcliente {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #dddddd;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.actions {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: white;
}

.btn-edit {
    background-color: #28a745;
}

.btn-edit:hover {
    background-color: #218838;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}


