.body-ver-registro {
    background-color: #f8f9fa;
}

/* Contenedor con scroll horizontal */
.content-ver-registro .table-responsive {
    overflow-x: auto;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}

/* Ajuste de ancho mínimo de la tabla */
.table-ver-registro table {
    min-width: 1400px; /* Aumenta el ancho mínimo para que se fuerce el scroll */
    width: 100%;
}

/* Estilo de la tarjeta que contiene la tabla */
.table-ver-registro {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Ajuste para la columna de Fecha */
.table-ver-registro th:nth-child(1), .table-ver-registro td:nth-child(1) {
    white-space: nowrap; /* Impide el quiebre de línea */
    padding-right: 15px; /* Espacio extra entre columnas */

}
.table-ver-registro th{
    background: #2780E3
        ;
}

/* Botón flotante */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000;
}

.floating-button:hover {
    background-color: #0056b3;
}


/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .content-ver-registro {
        padding: 10px;
    }
    .table-ver-registro {
        padding: 10px;
    }
    .btn-group-sm > .btn, .btn-sm {
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
    }
}


